.top-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #a3b18a; 
    justify-content: space-between;
    background-color: #a3b18a;
}

.main-container {
    width: auto;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #a3b18a;
}

#carouselExampleIndicators {
    width: 1000px;
}

.sidebar {
    width: 400px;
    border: 2px solid #a3b18a;
    background-color: a3b18a;
}

.mini-bio {
    width: 400px;
    border: 2px solid #a3b18a;
    padding: 50px;
    background-color: #a3b18a;
}
.nav-item {
    color: green;
}
.about {
    padding: 60px;
}
.side {
    display: flex;
    flex-wrap: wrap;
}